@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  background-color: #F8F5F0;
}

html {
  scroll-behavior: smooth;
}

nav a,
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none !important;
}
